{% extends 'base.html' %}
{% block title %}{{_('White Water SUP Database prototype')}}{% endblock %}
{% block urlext %}prepare{% endblock %}
{% block headext %}<link type="text/css" rel="StyleSheet" href="/static/styles/map.css" />{% endblock %}
{% block body %}
            <div>Load river: <input type="text" id="river_name_input" onkeydown="search_river(event,this.value);"/>
            EVO name: <span id="river_name_evo">.</span>
            RIM name: <span id="river_name_rivermap">.</span>
            CKF name: <span id="river_name_ckfiumi">.</span>
            </div>
            <div id="mapnwpts" style="float:left; margin:10px 0px;">
                <div id="maptotal" style="float: left;">
                    <div id="mapresizer" style="height:500px;width:500px;resize:both; border:2px solid;overflow:auto;padding:8px;">
{% if map_type=="GMaps" %}
                        <div id="map" style="height:100%;width:100%;" class="map" title="{{_('Click on map to add a point')}}" onmousewheel="onMapMouseWheel(event);" tabindex="0"></div>
{% elif map_type=="GeoPortal" %}
                        <div id="map" style="height:500px;width:500px;" title="{{_('Click on map to add a point')}}" tabindex="0" onkeydown="onMapKeyDown(event);"></div>
{% endif %}
                    </div>
                    <div>{{_('Switch to: ')}}{% if map_type=="GMaps" %}<a id="switch2GeoPortal" href="/prepare/GeoPortal"/>Geo Portal</a>{% else %}<a id="switch2GeoPortal" href="/prepare/GMaps"/>Google Maps</a>{% endif %}
                    </div>
                </div>
                <div id="map_right">
                    <div id="osm">
                        <b>Paths:</b> <span id="paths"></span>
                    </div>
                    <div id="evo">
                    </div>
                    <div id="rivermap">
                    </div>
                    <div id="ckfiumi">
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <input type="button" onclick="save();" value="Save Changes" />
            <h2>Server response:</h2>
            <div id="svrresponse"></div>
{% endblock %}
{% block jsext %}
<script type="text/javascript" src="/static/javascript/jquery.js"></script>
{% if map_type=="GMaps" %}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{ GMapsApiKey }}"></script>
{% elif map_type=="GeoPortal" %}
<script type="text/javascript" charset="utf-8" src='http://api.ign.fr/geoportail/api/js/2.0.0/Geoportal.js'></script>
<style type="text/css" media="print">
body{display:inline;}
</style>
{% endif %}
<script type="text/javascript" src="/static/javascript/utils{{minify}}.js"></script>
<script type="text/javascript">
domain="{{domain}}";
map_type="{{map_type}}";
GeoPortalApiKey="{{ GeoPortalApiKey }}";
</script>
<script type="text/javascript" src="/static/javascript/prepare{{minify}}.js"></script>
{% if map_type=="GMaps" %}
<script type="text/javascript" src="/static/javascript/preparegmaps{{minify}}.js"></script>
{% elif map_type=="GeoPortal" %}
<script type="text/javascript" src="/static/javascript/preparegeoportal{{minify}}.js"></script>  
{% endif %}
{% endblock %}
